@page
@model WebShop.Pages.ProfileModel
@{
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOOLISH</title>
    <link rel="stylesheet" href="~/css/Profile.css" />

</head>

<body>

    <h2>ВОЙТИ В АККАУНТ</h2>

    <input placeholder="E-mail" style="width:300px; height:30px; display:flex;" />
    <input placeholder="Пароль" style="width:300px; height:30px; display:flex; margin-top:15px;" type="password" />
    <button type="submit" style="margin-top:15px; width:200px; height:50px;"><span>Войти</span></button>
    <h4 style="margin-top:70px;">НЕТ АККАУНТА?</h4>
    <p>Создайте учетную запись, чтобы легко отслеживать статус заказа, накапливать баллы и управлять скидками.</p>
    <a style="margin-top:15px; width:200px; height:50px;" href="/ProfileRegistration"><span>Зарегистрироваться</span></a>

</body>

